<%= form_tag login_path, onsubmit: 'return l00s3r("bot");' do %>
  <%= hidden_field_tag :bot, 'yes', id: nil %>

  <p>
    <%= label_tag :email, t('activerecord.attributes.user.email') %>
    <%= email_field_tag :email, nil, data: { validaty: 'required email' } %>
  </p>

  <p>
    <%= label_tag :password, t('activerecord.attributes.user.password') %>
    <%= password_field_tag :password, nil, data: { validaty: :required } %>
  </p>

  <p id="human">
    <%= label_tag :bot, 'b0t?' %>
    <%= check_box_tag :bot, :true, :true %>
  </p>

  <%= submit_tag t('form.buttons.login'), name: nil %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#email').focus().select();

    AntiBot.init('#bot')

    $('form').validaty();
  });
</script>
