<tr class="<%= cycle(:even, :odd) %>">
  <td class="image"><%= gravatar donator.email, alt: '', title: donator.name, size: 30 %></td>
  <td class="name"><%= link_to donator.name, donator.url, target: '_blank' %></td>
  <td class="amount"><%= number_to_currency donator.amount, precision: 0 %></td>
  <td class="plan"><span><%= donator.plan %></span></td>
  <td class="country"><%= donator.country %></td>
  <td class="date"><%= l donator.created_at, format: :donation %></td>
  <td class="message"><%= donator.message %></td>
  <% if is_logged? %>
    <td class="edit"><%= link_to content_tag(:i, nil, class: 'icon-edit icon-large'), donators_edit_path(donator) %></td>
  <% end %>
</tr>
