<li id="<%= id_for comment %>">
  <div class="avatar">
    <%= gravatar(comment.email, alt: '', title: comment.name) %>
  </div>

  <div class="body">
    <header>
      <%= comment_name comment %>
      <%= content_tag :span, :author, class: :author if comment.author %>
      <%= time_ago comment.created_at %>
    </header>

    <%= markdown comment.body %>

    <footer>
      <%= self_anchor comment %>
      <%= link_to t('comment.reply'), "#{request.fullpath}#new_comment", data: { id: comment.id, name: comment.name }, class: :reply %>
      <%= link_to t('comment.edit'), edit_article_comment_path(@article, comment), class: :edit if is_logged? %>
    </footer>
  </div>

  <% if comment.children.present? %>
    <ul>
      <%= render partial: 'comments/comment', collection: comment.children %>
    </ul>
  <% end %>
</li>
