<li id="<%= "comment-#{comment.id}" %>" class="comments__comment">
  <div class="comments__avatar">
    <%= gravatar comment.email, alt: '', title: comment.name %>
  </div>

  <div class="comments__body">
    <header>
      <%= link_to comment.name, 'javascript:void(0);', class: :comments__name %>
      <%= content_tag :span, t('comment.pending'), class: 'comments__tag comments__tag--pending' if is_logged? && comment.pending %>
      <%= content_tag :span, t('user.author'), class: 'comments__tag comments__tag--author' if comment.author %>
      <%= link_to l(comment.created_at, format: '%e %b %Y %H:%M'), "#comment-#{comment.id}", alt: t('comment.shortcut'), class: :comments__date %>
    </header>

    <%= markdown comment.body %>

    <footer>
      <%= link_to t('comment.reply'), "#{request.fullpath}#new_comment", data: { id: comment.id, name: comment.name }, class: :comments__reply %>
      <%= link_to t('comment.edit'), polymorphic_path([:edit, @media, comment]), class: :comments__edit if is_logged? %>
    </footer>
  </div>

  <% if comment.children.present? %>
    <ol>
      <%= render partial: 'comments/comment', collection: comment.children %>
    </ol>
  <% end %>
</li>
