<%= form_for [@media, @comment] do |f| %>
  <%= f.hidden_field :parent_id %>

  <div class="placeholder">
    <%= f.label :name %> <span class="mandatory">*</span>
    <%= f.text_field :name, required: true, autofocus: true, class: :input %>
    <%= errors_for @comment, :name %>
  </div>

  <div class="placeholder">
    <%= f.label :email %> <span class="mandatory">*</span>
    <%= f.email_field :email, required: true, class: :input %>
    <%= errors_for @comment, :email %>
  </div>

  <div class="placeholder">
    <%= f.label :url %>
    <%= f.url_field :url, class: :input %>
  </div>

  <div class="placeholder">
    <%= f.label :body %> <span class="mandatory">*</span>
    <%= f.text_area :body, required: true, class: :input %>
    <%= errors_for @comment, :body %>
  </div>

  <div class="saver">
    <%= f.submit name: nil, class: 'button green' %>
  </div>
<% end %>

<script>
  $(function() {
    $('#comment_body').taby();
  });
</script>
