<article>
  <div class="date">
    <span class="number"><%= t 'article.published_at', time: l(article.published_at, format: :day) %></span>
    <span class="month"><%= t 'article.published_at', time: l(article.published_at, format: :month) %></span>
  </div>

  <h2 class="title"><%= link_to article.title, article_path(article.year, article.month, article.day, article.slug) %></h2>

  <ul class="links">
    <li class="permalink"><%= link_to t('article.permalink'), article_slug(article), title: article_slug_url(article) %></li>
    <li class="comments"><%= link_to t("article.comments_count_html", count: article.comments_count), article_path(article.year, article.month, article.day, article.slug, anchor: 'comments'), title: t('comment.other') %></a></li>
    <li class="published"><%= link_to t('article.published_at', time: l(article.published_at)), 'javascript:void(0);' %></a></li>
    <% if is_logged? %>
      <li class="edit"><%=link_to t('navigation.article.edit'), articles_edit_path(article) %></li>
    <% end %>
  </ul>

  <div class="body">
    <%= markdown article.resume %>

    <p class="read-more"><%= link_to t('article.read_more'), article_path(article.year, article.month, article.day, article.slug), title: t('article.read_more_about_html', text: article.title) %></p>
  </div>

  <div class="footer">
    <div class="tags">
      <%= t 'article.tags' %>

      <% article.categories.each do |category| %>
        <%= link_to category.name, 'javascript:void(0);' %><%= ',' unless category == article.categories.last %>
      <% end %>
    </div>
  </div>
</article>
