<%= form_for @article do |f| %>
  <div class="placeholder">
    <%= f.label :title %> <span class="mandatory">*</span>
    <%= f.text_field :title, autofocus: true, required: true, class: :input %>
    <%= errors_for @article, :title %>
  </div>

  <div class="placeholder">
    <%= f.label :body %>
    <%= f.text_area :body, class: :input %>
  </div>

  <div class="saver">
    <%= f.submit name: nil, class: 'button green' %>
    <%= link_to t('article.preview'), slug_path(@article.slug), target: :_blank, class: 'button green-dark' if @article.persisted? %>
  </div>
<% end %>

<script>
  $(function() {
    $('#article_body').taby();
  });
</script>
