<%= form_tag articles_search_path, method: :get, class: 'search', role: 'search' do %>
  <p>
    <%= search_field_tag :query %>
    <%= label_tag :query %>
    <%= submit_tag t('form.buttons.search') %>
  </p>
<% end %>

<%= link_to content_tag(:i, '', class: 'icon-heart-empty') + t('navigation.donate'), 'https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=X8HEP2878NDEG&item_name=wbotelhos.com.br', { id: 'donate', target: '_blank' } %>
