<div id="title">
  <h2><%= t('article.edit') %></h2>

  <div id="status">
    <%= @article.status %>
  </div>

  <% if @article.published_at.nil? %>
    <%= link_to t('article.preview'), articles_preview_path(@article), { target: '_blank', id: 'draft' } %>
  <% else %>
    <%= link_to @article.slug, article_path(@article.year, @article.month, @article.day, @article.slug), { target: '_blank', id: 'published' } %>
  <% end %>
</div>

<div class="clear"></div>

<%= render 'shared/error_messages', entity: @article %>

<%= form_for @article, url: articles_update_path, html: { class: 'article-form' } do |f| %>
  <div id="fields">
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
  </div>

  <div id="controls">
    <h3><%= t('article.publish') %></h3>

    <%= f.submit t('article.update'), class: 'update' %>

    <% if @article.published_at.nil? %>
      <input type="button" value="<%= t('article.publish') %>" class="publish" />
    <% end %>

    <div id="categories">
      <h3><%= t('category.other') %></h3>

      <ul>
        <% categories.each do |category| %>
          <li>
            <input id="category-<%= category.id %>" type="checkbox" name="article[category_ids][]" value="<%= category.id %>" <%= check_category?(@article, category) %> />
            <label for="category-<%= category.id %>"><%= category.name %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.article-form').flury();
    $('#article_title').focus();
    $('#article_body').taby();
  });
</script>
