<%= render 'shared/menu' %>

<div class="bio"><%= t 'user.bio' %></div>

<section class="archives">
  <% @year_month_articles.each do |date, articles| %>
    <div class="date"><%= date %></div>

    <ul>
      <% articles.each do |article| %>
        <li>
          <%= link_to article.title, slug_path(article.slug), class: :title %>
          <%= link_to slug_url(article.slug), slug_path(article.slug), class: :url %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
