<div id="title">
  <h2><%= t("article.new") %></h2>
</div>

<%= render "shared/error_messages", :entity => @article %>

<%= form_for @article, :url => create_article_path do |f| %>
  <div id="fields">
    <p>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.text_area :body %>
    </p>
  </div>

  <div id="controls">
    <div id="publish">
      <h3><%= t("article.publish") %></h3>

      <%= f.submit :class => "save" %>
      <input type="button" value="<%= t("article.publish") %>" class="publish" />
    </div>

    <div id="categories">
      <h3><%= t("category.title") %></h3>

      <ul>
        <% categories.each do |category| %>
          <li>
            <input id="category-<%= category.id %>" type="checkbox" name="article[category_ids][]" value="<%= category.id %>" />
            <label for="category-<%= category.id %>"><%= category.name %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#article_title').focus();
    $('#article_body').taby();
  });
</script>
