<div id="title">
  <h2><%= t 'article.new' %></h2>
</div>

<div class="clear"></div>

<%= render 'shared/error_messages', entity: @article %>

<%= form_for @article, html: { class: 'article-form' } do |f| %>
  <div id="fields">
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
  </div>

  <div id="controls">
    <h3><%= t 'article.publish' %></h3>

    <%= f.submit class: 'save' %>
    <input type="button" value="<%= t 'article.publish' %>" class="publish" />

    <div id="categories">
      <h3><%= t 'category.other' %></h3>

      <ul>
        <% categories.each do |category| %>
          <li>
            <input id="category-<%= category.id %>" type="checkbox" name="article[category_ids][]" value="<%= category.id %>" <%= check_category?(@article, category) %> />
            <label for="category-<%= category.id %>"><%= category.name %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.article-form').flury();
    $('#article_title').focus();
    $('#article_body').taby({ space: 2 });
  });
</script>
