<article>
  <header>
    <h1><%= link_to @media.title, slug_path(@media.slug) %></h1>

    <div class="published-at"><%= published_at @media %></div>

    <%= link_to t('article.edit'), edit_article_path(@media), class: 'button green-dark edit' if is_logged? %>
  </header>

  <div class="body">
    <%= markdown @media.body %>
  </div>
</article>

<%= render 'shared/share_it', text: @media.title %>

<%= render 'comments/comments' %>

<%= render 'comments/form' %>
