<article class="article">
  <header>
    <h1 class="article__title"><%= link_to @media.title, slug_path(@media.slug) %></h1>

    <div class="article__date">
      <%= published_at @media %>
      <%= link_to t(:edit), edit_article_path(@media), class: :article__edit if is_logged? %>
    </div>
  </header>

  <div class="article__body"><%= raw @article.content %></div>
</article>

<%= render 'shared/share_it', text: @media.title %>
