<% content_for :title do %><%= @article.title %><% end %>

<article class="article">
  <div class="date">
    <span class="number"><%= t 'article.published_at', time: l(@article.published_at, format: :day) %></span>
    <span class="month"><%= t 'article.published_at', time: l(@article.published_at, format: :month) %></span>
  </div>

  <h2 class="title"><%= link_to @article.title, article_path(@article.year, @article.month, @article.day, @article.slug) %></h2>

  <ul class="links">
    <li class="permalink"><%= link_to t('article.permalink'), article_path(@article.year, @article.month, @article.day, @article.slug), title: t('article.permalink') %></li>
    <li class="comments"><%= link_to t('article.comments_count_html', count: @article.comments_count), article_path(@article.year, @article.month, @article.day, @article.slug, anchor: 'comments'), title: t('comment.other') %></li>
    <li class="published"><%= link_to t('article.published_at', time: l(@article.published_at)), 'javascript:void(0);' %></li>
    <% if is_logged? %>
      <li class="edit"><%=link_to t('article.edit'), articles_edit_path(@article) %></li>
    <% end %>
  </ul>

  <div class="body">
    <%= markdown @article.text %>
  </div>

  <div class="footer">
    <div class="tags">
      <%= t 'article.tags' %>

      <% @article.categories.each do |category| %>
        <%= link_to category.name, 'javascript:void(0);' %><%= ',' unless category == @article.categories.last %>
      <% end %>
    </div>
  </div>

  <div class="author">
    <%= author @article.user %>
  </div>
</article>

<h3 id="comments">
  <i class="icon-comments-alt icon-large"></i>
  <%= t 'comment.count_html', count: @article.comments_count %>
  <%= link_to '#', article_path(@article.year, @article.month, @article.day, @article.slug, anchor: 'comment-form') %>
</h3>

<%= render_comments @article %>

<%= render @comment_form.partial %>

<script type="text/javascript">
  function closeComment(id) {
    var comment = $('#comment-' + id);

    comment.find('form').hide();
    comment.find('.text').show();
  };

  $(function() {

    $('textarea').taby();

    $('.reply-link').on('click', function() {
      var self  = $(this),
          id    = self.closest('.comment').attr('id').split('-')[1],
          name  = self.siblings('form').find('input[name="comment[name]"]').val();

          $('#replying-to').show().children('strong').html('<a href="<%= request.fullpath %>#comment-' + id + '">#' + id + '</a> ' + name);
          $('#comment_body').val('Oi ' + name + ',\n\n').blur().focus();
          $('#comment_comment_id').val(id);
    });

    $('.close').on('click', function() {
      var self = $(this);

      self
        .closest('form').hide()
        .siblings('.text').show();

        window.getSelection().removeAllRanges();
    });

    if ('<%= is_logged? %>' === 'true') {
      $('.text').on('dblclick', function() {
        var self = $(this).hide();

        self.prev('div').hide()
        self.next('form').show().find('input:eq(2)').focus();
      });
    }

    AntiBot.init('.human input')
  });
</script>
