<article>
  <header>
    <h1><%= link_to @article.title, slug_path(@article.slug) %></h1>

    <div class="published-at"><%= published_at @article %></div>

    <%= link_to t('article.edit'), edit_article_path(@article), class: 'button green-dark edit' if is_logged? %>

    <div class="body">
      <%= markdown @article.body %>
    </div>
  </header>
</article>

<div class="share">
  <p><%= t 'article.share_it' %></p>
  <%= twitter_button text: @article.title, url: article_slug_url(@article) %>
</div>

<section class="comments">
  <ul>
    <%= render partial: 'comments/comment', collection: @root_comments %>
  </ul>
</section>

<%= render 'comments/new' %>

<script>
  $(function() {
    AntiBot.init('.new_comment');
    CommentResponder.init();

    $('#comment_body').taby();
  });
</script>
