<section class="header">
  <%= link_to 'Washington Botelho', root_path, class: :logo %>

  <div class="quote">Se você não tem dom, tenha vontade!</div>
</section>

<article>
  <header>
    <h1><%= link_to @article.title, slug_path(@article.slug) %></h1>

    <div class="published-at"><%= l @article.published_at %></div>

    <div class="body">
      <%= markdown @article.body %>
    </div>
  </header>
</article>

<section class="comments">
  <ul>
    <%= render partial: 'comments/comment', collection: @root_comments %>
  </ul>
</section>
