<article>
  <header>
    <h1><%= link_to @article.title, slug_path(@article.slug) %></h1>

    <div class="published-at"><%= l @article.published_at %></div>

    <div class="body">
      <%= markdown @article.body %>
    </div>
  </header>
</article>

<div class="share">
  <p><%= t :share_it %></p>
  <%= twitter_button text: @article.title, url: article_slug_url(@article) %>
</div>

<section class="comments">
  <ul>
    <%= render partial: 'comments/comment', collection: @root_comments %>
  </ul>
</section>

<%= render 'comments/form', article: @article, comment: @comment %>

<script>
  $(function() {
    AntiBot.init('.new_comment');
  });
</script>
