<article>
  <header>
    <h1><%= link_to @media.title, slug_path(@media.slug) %></h1>

    <div class="published-at"><%= published_at @media %></div>

    <%= link_to t('article.edit'), edit_article_path(@media), class: 'button green-dark edit' if is_logged? %>
  </header>

  <div class="body">
    <%= markdown @media.body %>
  </div>
</article>

<div class="share">
  <p><%= t 'article.share_it' %></p>
  <%= twitter_button text: @media.title, url: media_slug_url(@media) %>
</div>

<section class="comments">
  <ol>
    <%= render partial: 'comments/comment', collection: @root_comments %>
  </ol>
</section>

<%= render 'comments/new' %>
