<%= form_for @user do |f| %>
  <div class="placeholder">
    <%= f.label :email %> <span class="mandatory">*</span>
    <%= f.email_field :email, required: true, class: :input %>
    <%= errors_for @user, :email %>
  </div>

  <div class="placeholder">
    <%= f.label :password %> <span class="mandatory">*</span>
    <%= f.password_field :password, class: :input %>
    <%= errors_for @user, :password %>
  </div>

  <div class="placeholder">
    <%= f.label :password_confirmation %> <span class="mandatory">*</span>
    <%= f.password_field :password_confirmation, class: :input %>
    <%= errors_for @user, :password_confirmation %>
  </div>

  <div class="saver">
    <%= f.submit name: nil, class: 'button green' %>
  </div>
<% end %>
