<%= logo %>

<nav>
  <ul>
    <% if is_logged? %>
      <li><%= link_to t('navigation.logout'), logout_path %></li>
      <li><%= link_to t('navigation.admin'), admin_path %></li>
    <% end %>
    <li><%= link_to t('navigation.about'), about_path %></li>
    <li><%= link_to t('navigation.lab.title'), labs_path %></li>
  </ul>
</nav>

<div id="social">
  <ul>
    <li><%= link_to image_tag('feed-big.png'), feed_path, target: '_blank' %></li>
    <li><%= link_to image_tag('linkedin-big.png'), "http://linkedin.com/in/#{CONFIG['nick']}", target: '_blank' %></li>
    <li><%= link_to image_tag('twitter-big.png'), "http://twitter.com/#{CONFIG['nick']}", target: '_blank' %></li>
    <li><%= link_to image_tag('github-big.png'), "http://github.com/#{CONFIG['nick']}", target: '_blank' %></li>
  </ul>
</div>
