<nav role="navigation" class="navigation">
  <%= social_icon t('user.email')    , 'i-envelope' , "mailto:#{CONFIG['email']}" %>
  <%= social_icon t('user.github')   , 'i-github'   , CONFIG['github'] %>
  <%= social_icon t('user.linkedin') , 'i-linkedin' , CONFIG['linkedin'] %>
  <%= social_icon t('user.twitter')  , 'i-twitter'  , CONFIG['twitter'] %>
  <%= social_icon t(:feed)           , 'i-feed'     , feed_url %>

  <% if is_logged? %>
    <%= menu_icon t('admin.one')   , 'i-cog'  , admin_path %>
    <%= menu_icon t('article.new') , 'i-file' , new_article_path %>
    <%= menu_icon t('user.logout') , 'i-exit' , logout_path %>
  <% end %>

  <%= content_tag :i, '', title: t(:donate), class: 'i-heart' %>

  <div id="donations">
    <%= link_to 'Git tip', 'http://gittip.com/wbotelhos', target: :_blank %>
    <span>•</span>
    <%= link_to 'Paypal', 'http://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=X8HEP2878NDEG&item_name=wbotelhos.com', target: :_blank %>
  </div>
</nav>

<div class="bio"><%= t 'user.bio' %></div>
