<nav role="navigation" class="navigation">
  <%= social_icon t('user.email'),    'i-envelope', "mailto:#{CONFIG['email']}" %>
  <%= social_icon t(:feed),           'i-feed',     feed_url %>
  <%= social_icon t('user.github'),   'i-github',   github %>
  <%= social_icon t('user.linkedin'), 'i-linkedin', linkedin %>
  <%= social_icon t('user.twitter'),  'i-twitter',  twitter %>
  <%= menu_icon   t('lab.other'),     'i-labs',     labs_path %>

  <% if is_logged? %>
    <%= menu_icon t('admin.one'),   'i-cog',     admin_path %>
    <%= menu_icon t('article.new'), 'i-file',    new_article_path %>
    <%= menu_icon t('lab.new'),     'i-lab',     new_lab_path %>
    <%= menu_icon t('user.edit'),   'i-profile', profile_path %>
    <%= menu_icon t('user.logout'), 'i-exit',    logout_path %>
  <% end %>

  <%= render 'shared/donation', product: 'wbotelhos.com' %>
</nav>

<div class="bio"><%= t 'user.bio' %></div>
