<!DOCTYPE html>

<html>
  <head>
    <title><%= CONFIG["author"] %></title>
  </head>
  <body style="background: url(<%= CONFIG['url_http'] %>/images/background.png) repeat #E7E7E7; font: 13px/1.6 'Lucida Grande', Helvetica, arial, sans-serif;">
    <div style="margin-bottom: 15px; margin-top: 15px; text-align: center; width: 100%;">
      <h1><a href="<%= CONFIG['url_http'] %>" target="_blank" style="color: #333; font-size: 47px; letter-spacing: -3px; text-decoration: none; text-shadow: 2px 2px #FFF;"><%= CONFIG["author"] %></a></h1>
    </div>

    <div style="background-color: #FFF; border: 1px solid #E5E5E5; box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7); height: 175px; overflow: auto; padding: 26px; text-align: center;">
      <div style="margin-bottom: 3px; margin-top: 5px;">
        Ol&aacute; <strong><%= @comment.name %></strong>,
      </div>

      <div>
        O artigo <strong><%= link_to @article.title, article_url(@article), { :style => "color: #277DA8; text-decoration: none;" } %></strong> no qual voc&ecirc; participou foi respondido por <strong><%= @new_comment.name %></strong>.
      </div>

      <div style="margin-top: 10px;">
        N&atilde;o perca a discuss&atilde;o, visite: <%= link_to article_url(@article, :anchor => "comment-#{@new_comment.id}"), article_url(@article, :anchor => "comment-#{@new_comment.id}"), { :style => "color: #277DA8; text-decoration: none;" } %>
      </div>

      <div style="margin-top: 40px;">
        <a href="<%= CONFIG['url_http'] %>" target="_blank" style="color: #4080BF; text-decoration: none;"><%= CONFIG['url_www'] %></a><br />
        <div style="font-size: 11px;"><%= CONFIG['description'] %></div>
      </div>
    </div>
  </body>
</html>
