<div id="title">
  <h2><%= t 'category.new' %></h2>
</div>

<%= render 'shared/error_messages', entity: @category %>

<%= form_for @category, html: { class: 'category-form' } do |f| %>
  <div id="fields">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </div>

  <div id="controls">
    <h3><%= t 'category.create' %></h3>

    <%= f.submit class: :save %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.category-form').flury();
    $('#category_name').focus();
  });
</script>
