<div id="title">
  <h2><%= t 'lab.edit' %></h2>

  <div id="status"><%= @lab.status %></div>

  <% if @lab.published_at.present? %>
    <%= link_to @lab.url, @lab.url, id: 'published', target: '_blank' %>
  <% end %>
</div>

<div class="clear"></div>

<%= render 'shared/error_messages', entity: @lab %>

<%= form_for @lab, url: labs_update_path, html: { class: 'lab-form' } do |f| %>
  <div id="fields">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :slug %>
      <%= f.text_field :slug %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :image %>
      <%= f.text_field :image %>
    </p>
  </div>

  <div id="controls">
    <h3><%= t 'lab.update' %></h3>
    <%= f.submit class: 'update' %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.lab-form').flury();
    $('#lab_description').focus();
    $('#lab_body').taby({ space: 2 });
  });
</script>
