<div id="title">
  <h2><%= t('lab.new') %></h2>
</div>

<%= render 'shared/error_messages', entity: @lab %>

<%= form_for @lab, html: { class: 'lab-form' } do |f| %>
  <div id="fields">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :slug %>
      <%= f.text_field :slug %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :image %>
      <%= f.text_field :image %>
    </p>
  </div>

  <div id="controls">
    <h3><%= t('lab.create') %></h3>
    <%= f.submit class: 'save' %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.lab-form').flury();
    $('#lab_name').focus();
    $('#lab_body').taby();
  });
</script>
