<!DOCTYPE html>

<html dir="ltr" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Washington Botelho" />
    <meta name="description" content="Blog do Washington Botelho" />
    <meta name="keywords" content="blog,washington,botelho,java,ruby,rails,python,tutorial,howto" />

    <title><%= CONFIG['author'] %> | Admin</title>
    <%= stylesheet_link_tag 'stylesheet' %>
    <%= javascript_include_tag 'jquery-1.8.2.min', 'jquery.taby.min', 'jquery.socialy.min', 'javascript' %>
    <%= csrf_meta_tags %>

    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="wrapper">
      <div id="top">
        <%= render 'shared/header' %>
        <%= render 'shared/flash_messages' %>
      </div>

      <div id="container">
        <aside id="sidebar-admin">
          <h2>
            <i class="icon-file icon-large"></i>
            <%= t('navigation.article.title') %>
          </h2>

          <ul class="article-menu">
             <li><%= link_to t('navigation.article.new'), new_article_path %></li>
             <li><%= link_to t('navigation.article.drafts'), drafts_articles_path %></li>
          </ul>

          <h2>
            <i class="icon-user icon-large"></i>
            <%= t('navigation.user.title') %>
          </h2>

          <ul class="user-menu">
             <li><%= link_to t('navigation.user.new'), new_user_path %></li>
             <li><%= link_to t('navigation.user.list'), users_path %></li>
          </ul>

          <h2>
            <i class="icon-beaker icon-large"></i>
            <%= t('navigation.lab.title') %>
          </h2>

          <ul class="lab-menu">
             <li><%= link_to t('navigation.lab.new'), new_lab_path %></li>
             <li><%= link_to t('navigation.lab.drafts'), drafts_labs_path %></li>
          </ul>
        </aside>

        <section id="content-admin">
          <%= yield %>
        </section>
      </div>

      <div id="credits">Developed by Washington Botelho</div>

      <footer id="footer">
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
