<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <%= render 'shared/head_tags' %>

  <%= stylesheet_link_tag    :admin %>
  <%= javascript_include_tag :admin %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
    <%= render 'shared/menu' %>
    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </div>

  <%= render 'shared/analytics', code: CONFIG['analytics'] if Rails.env.production? %>
</body>
</html>
