<!DOCTYPE html>

<html dir="ltr" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Washington Botelho" />
    <meta name="description" content="Blog do Washington Botelho" />
    <meta name="keywords" content="blog,washington,botelho,java,ruby,rails,python,tutorial,howto" />

    <title><%= CONFIG['author'] %> | Admin</title>

    <%= stylesheet_link_tag 'stylesheet', 'admin' %>
    <%= javascript_include_tag 'jquery-1.8.2.min', 'jquery.taby.min', 'javascript' %>
    <%= csrf_meta_tags %>

    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="wrapper">
      <header role="banner">
        <%= render 'shared/header' %>
        <%= render 'shared/flash_messages' %>
      </header>

      <div id="container">
        <aside role="complementary">
          <%= render sidebar.administrator %>
        </aside>

        <section role="main">
          <%= yield %>
        </section>
      </div>

      <div id="credits">Developed by Washington Botelho</div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
