<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <%= render 'shared/head_tags' %>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div class="content">
    <%= render 'shared/header' %>
    <%= render 'shared/menu' %>
    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </div>
</body>
</html>
