<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <%= favicon_link_tag %>

  <title><%= "#{@title || CONFIG['description']} - #{CONFIG['author']}" %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'labs' %>
  <%= javascript_include_tag 'labs' %>
</head>
<body>
  <div class="content">
    <div role="banner" class="header">
      <h1><%= link_to @media.title, slug_path(@media.slug), class: :logo %></h1>

      <div class="description"><%= @media.description %></div>
    </div>

    <nav role="navigation" class="navigation">
      <%= link_to content_tag(:i, nil, class: 'i-arrow-down') + " v#{@media.version}" , @media.download , title: t('lab.download', version: @media.version)                  , class: :download %>
      <%= link_to content_tag(:i, nil, class: 'i-github')                             , @media.github   , title: "Github <#{@media.github}>"                , target: :blank %>
      <%= link_to content_tag(:i, nil, class: 'i-labs')                               , labs_url        , title: "Labs <#{labs_url}>"                       , target: :blank , class: :labs %>

      <%= render 'shared/donation' %>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
