<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="<%= CONFIG['author'] %>">
  <meta name="description" content="<%= @media.description %>">
  <meta name="google" content="notranslate">
  <meta name="keywords" content="<%= @media.keywords %>">
  <meta name="robots" content="ALL">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <%= favicon_link_tag %>

  <title><%= "#{@title || CONFIG['description']} - #{CONFIG['author']}" %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'labs' %>
  <%= javascript_include_tag 'labs' %>

  <%= @media.stylesheets_inline %>

  <%= @media.javascripts %>
</head>
<body>
  <div class="content">
    <div role="banner" class="header">
      <h1><%= link_to @media.title, slug_path(@media.slug), class: :logo %></h1>

      <div><%= @media.description %></div>
    </div>

    <nav role="navigation" class="navigation">
      <%= link_to content_tag(:i, nil, class: 'i-file-zip') + " v#{@media.version}" , @media.download , title: t('lab.download', version: @media.version)                  , class: :download %>
      <%= link_to ''                                                                , @media.github   , title: "Github <#{@media.github}>"                , target: :blank , class: 'i-github' %>
      <%= link_to ''                                                                , labs_url        , title: "Labs <#{labs_url}>"                       , target: :blank , class: 'labs i-labs' %>

      <%= render 'shared/donation', product: @media.title %>
    </nav>

    <%= yield %>
  </div>

  <script>
    <%= @media.javascripts_inline %>

    $(function() {
      <%= @media.javascripts_ready %>
    });
  </script>

  <%= render 'shared/analytics', code: @media.analytics %>
</body>
</html>
