<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <%= render 'labs/head_tags' %>
  <%= render 'labs/includes' %>
</head>
<body>
  <div class="content">
    <%= render 'labs/header' %>
    <%= render 'labs/menu' %>

    <%= yield %>
  </div>

  <%= render 'labs/javascripts' %>
  <%= render 'shared/analytics', code: @media.analytics %>
</body>
</html>
