<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <%= render 'labs/head_tags' %>

  <%= stylesheet_link_tag :labs %>
  <%= @media.stylesheets %>
  <%= @media.stylesheets_inline %>

  <%= @media.javascripts %>
  <%= javascript_include_tag :labs %>
</head>
<body>
  <div class="container">
    <%= render 'labs/header' %>
    <%= render 'labs/menu' %>

    <%= yield %>
  </div>

  <%= render 'labs/javascripts' %>
  <%= render 'shared/analytics', code: @media.analytics if Rails.env.production? %>
</body>
</html>
