<!DOCTYPE html>

<html dir="ltr" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

    <title><%= title 'Login' %></title>

    <meta name="author" content="Washington Botelho" />
    <meta name="description" content="Blog do Washington Botelho" />
    <meta name="keywords" content="blog,washington,botelho,java,ruby,rails,python,tutorial,howto" />

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic" />

    <%= stylesheet_link_tag 'application', 'public', 'login' %>
    <%= javascript_include_tag 'jquery-1.9.0.min', 'application', 'modernizr.js' %>
    <%= csrf_meta_tags %>

    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="wrapper">
      <header>
        <%= logo %>
      </header>

      <div id="container-login">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
