<!DOCTYPE html>

<html dir="ltr" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Washington Botelho" />
    <meta name="description" content="Blog do Washington Botelho" />
    <meta name="keywords" content="blog,washington,botelho,java,ruby,rails,python,tutorial,howto" />

    <title><%= CONFIG['author'] %> | Login</title>

    <%= stylesheet_link_tag 'stylesheet', 'public', 'login' %>
    <%= javascript_include_tag 'jquery-1.8.2.min', 'javascript' %>
    <%= csrf_meta_tags %>

    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="wrapper">
      <div id="top">
        <div id="logo">
          <h1><%= link_to CONFIG['author'], root_path %></h2>
        	<h3><%= CONFIG['description'] %></h3>
        </div>

        <% if is_logged? %>
          <nav>
            <ul>
                <li><%= link_to t('navigation.logout'), logout_path %></li>
                <li><%= link_to t('navigation.admin'), admin_path %></li>
            </ul>
          </nav>
        <% end %>
      </div>

      <div id="container-login">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
