<!DOCTYPE html>

<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <%= render 'shared/head_tags' %>

  <meta name="robots"    content="nofollow" />
  <meta name="googlebot" content="nofollow" />

  <%= stylesheet_link_tag    :session %>
  <%= javascript_include_tag :session %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>

    <%= yield %>
  </div>

  <script>
    $(function() {
      AntiBOT.init('.session');
    });
  </script>
</body>
</html>
